.registro-personal {
  height: 100%;
  padding: 10px;
}

.registro-form {
  height: 100%;
  border: 1px solid black;
  box-shadow: 1px 0px 5px 0 rgba(0, 0, 0, .5);
}

.form-container {
  padding: 10px 30px;
  height: 100%;
}

.form-container h2 {
  color: var(--page-color);
  margin: 5px;
}

.blocks-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 0;
  gap: 20px;
  width: 100%;
}

.form-content {
  display: flex;
  gap: 30px;
  align-content: center;
}

.form-block {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 15px;
}

.block-title {
  text-align: start;
  width: 15%;
  color: var(--page-color);
  font-weight: 600;
}

.block-title-container {
  display: flex;
  align-items: center;
}

.line {
  background-color: var(--page-color);
  width: 100%;
  height: 2px;
}

.input-container {
  display: flex;
  justify-content: start;
  color: var(--page-color);
  align-items: center;
  gap: 10px;
}

.input-container label {

  height: 40px;
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 40%;
}

.input-container input,
.select-input {
  border: 1px solid var(--page-color);
  border-radius: 5px;
  height: 20px;
  width: 60%;
  outline: none;
  padding: 0px 5px;
}

.select-input {
  height: 30px;
  color: var(--page-color);
}

.buttons-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;

}

.button-content {
  display: flex;
  gap: 20px;
}

.main-button {
  font-size: 16px;
  background-color: var(--page-color);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.input-container input {
  color: var(--page-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.error-msg {
  color: red;
  font-size: 14px;
}

.success-msg {
  color: green;
  font-size: 14px;
}

.rp-message {
  color: red;
  font-size: 16px;
}

@media (max-width: 1536px) {
  .blocks-container {
    overflow-y: auto;
  }
}

@media (max-width: 1536px) {
  .blocks-container {
    overflow-y: auto;
  }

  .input-container {
    display: flex;
    justify-content: start;
    color: var(--page-color);
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 1280px) {
  .input-container label {
    font-size: 14px;
    width: 40%;
  }

  .form-content {
    display: flex;
    flex-direction: column;
  }

  .form-block {
    display: flex;
    flex-direction: column;
  }

  .input-container input {
    font-size: 14px;
    height: 25px;
    width: 60%;
  }
}

@media (max-width: 640px) {
  .blocks-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .input-container {
    gap: 5px;
  }
  .rp-message{
    font-size: 14px;
  }
  .form-content {
    gap: 8px;
  }

  .block-title {
    width: 100%;
  }

  .input-container {
    flex-direction: column;
    font-size: 12px;
    width: 100%;
  }

  .input-container label {
    font-size: 12px;
    width: 100%;
    height: auto;
  }

  .form-content {
    display: flex;
    flex-direction: column;
  }

  .input-container input {
    font-size: 12px;
    height: 25px;
    width: 100%;
  }

  .select-input {
    width: 100%;
  }

  .buttons-container {
    gap: 10px;
  }

  .main-button {
    font-size: 14px;
  }

  .button-content {
    gap: 5;
  }
}

@media (max-width: 1024px) {
  .block-title-container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: start;
  }

  .main-button {
    font-size: 13px;
  }
}

@media (max-width: 1280px) {
  .input-container label {
    font-size: 13px;
  }
}