.mp-form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mp-form-container h2 {
  color: var(--page-color);
}

.main-button-container {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.mp-buttons-container {
  display: flex;
  justify-content: end;
}

.table-container {
  height: 55vh;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 1px solid var(--page-color);
  border-left: 1px solid var(--page-color);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.table-header {
  height: 8%;
  background-color: var(--page-color);
  color: white;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.table-content-container {
  height: 92%;
  overflow: auto;
}

.table-content {
  color: var(--page-color);
  display: grid;
  place-items: center;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  border-bottom: 1px solid var(--page-color);
}

.mp-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.table-content p {
  text-align: center;
  padding: 10px;
}

/* .active {

}
.disable {
  filter: blur(5px);
} */

@media (min-width:2000px) {
  .table-container {
    height: 60vh;
  }
}

@media (max-width: 640px) {
  .mp-form-container {
    padding: 10px;
    gap: 8px;
  }

  .mp-form-content {
    gap: 5px;
  }
}

@media (max-width:1280px) {
  .table-container {
    height: 50vh;
  }

  .table-content p {
    font-size: 12px;
  }

  .table-header p {
    font-size: 12px;
  }

}

@media (min-width: 641px) and (max-width: 1024px) {
  .mp-form-content {
    gap: 1px;
  }
}

@media (max-width: 400px) {
  .mp-buttons-container {
    display: flex;
    justify-content: start;
  }
}